html {
    height: 100%;
    display: table;
    margin: auto;
    padding: 20px;
}

body {
    display: table-cell;   
    vertical-align: middle;
    text-align: center;
    max-width: 700px;
    padding-top: 20%;
    padding-bottom: 20%;
}

h1, h2, h3, h4, h5, h6, p, li {
    font-family: 'PT Mono', monospace;
    color: white;
    text-align: left;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 100%;
} 

p {
    font-size: 100%;
    line-height: 150%;
    margin-bottom: 5%;
}

li {
    font-size: 100%;
    margin-bottom: 1%;
}

a {
    color: skyblue;
}

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-thumb {
background: rgb(50, 50, 50, 100);
}

@media only screen and (max-device-width : 300px) {
    html {
        padding: 5%;
    }

    body {
        max-width: 400px;
        padding-top: 20%;
        padding-bottom: 20%;
    }

    h1 {
        font-size: 300%;
    }    
    
    h2 {
        font-size: 200%;
    }

    p {
        font-size: 175%;
        line-height: 120%;
        margin-bottom: 5%;
    }

    li {
        font-size: 120%;
        margin-bottom: 3%;
    }

    #title {
        text-align: center;
    }
}